{% extends 'store/layout.html' %}
{% load static %}


{%block body%}
<div class="mt-3">
    <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-outline-primary mx-3">Orders</a>
        <a href="#" class="btn btn-outline-primary mx-3">Orders  Deleivered</a>
    </div>
</div>
<div class="my-3">
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Date Ordered</th>
            <th>Status</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        {% for orderItem in orderItems %}
        <tr>
            <td>{{orderItem.product.category}}</td>
            <td>{{orderItem.order.date}}</td>
            <td>{{orderItem.status}}</td>
            <td><a href="" class="btn btn-primary">Update</a></td>
            <td><a href="" class="btn btn-danger">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{%endblock body %}
