{% extends 'store/layout.html' %}
{% load static %}

{%block body%}
{% if order.get_cart_items > 0 %}
<div class="row mt-5">
    <div class="col-md-9">
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:1"></div>
                <div style="flex:3"><strong>Item</strong></div>
                <div style="flex:2" class="text-center"><strong>Price (INR)</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total (INR)</strong></div>
            </div>
            
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:1"><img class="row-image" src="{{item.product.ImageUrl}}"></div>
                <div style="flex:3"><p>{{item.product.name}}</p></div>
                <div style="flex:2" class="text-center"><p>{{item.product.discountPrice|floatformat:2}}</p></div>
                <div style="flex:1">
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'img/up.png' %}">
                
                        <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'img/down.png' %}">
                    </div>
                </div>
                <div style="flex:1"><p>{{item.get_total}}</p></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
            <a  class="btn btn-outline-primary" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <table class="table">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Items :</td>
                    <td><strong>{{order.get_cart_items}}</strong></td>
                </tr>
                <tr>
                    <td>M. R. P. :</td>
                    <td><strong class="text-muted"><del>&#8377 {{order.get_original_cart_total}}</del></strong></td>
                </tr>
                <tr>
                    <td>Total Save :</td>
                    <td><strong>&#8377 {{save}}</strong></td>
                </tr>
                <tr>
                    <td>Delivery :</td>
                    <td><strong>&#8377 60</strong></td>
                </tr>
                <tr>
                    <td>Total :</td>
                    <td><strong>&#8377 {{order.get_cart_total|floatformat:2}}</strong></td>
                </tr>
            </table>
            <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>

        </div>

    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card text-center my-5">
            <div class="card-header">
              You have no item in cart
            </div>
            <div class="card-body">
                <a  class="btn btn-outline-primary" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            </div>
          </div>
    </div>
</div>
{% endif %}
{%endblock body%}
