{% extends 'store/layout.html' %}
{% load static %}

{%block body%}
<div class="row mt-3">
    <div class="col-md-5">
        <div class="box-element" id="form-wrapper">
            <form id="form" method="POST" action="checkout/">
                {% csrf_token %}
                <h4 class="text-center my-3">Shipping Details</h4>
                <div id="user-info">

                </div>
                <div id="shipping-info">
                <h5 class="text-muted my-2">Delivered To</h5>
                <div class="d-grid card card-body" id="user-address">
                    {% for add in address %}
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="userAddress" id="{{add.id}}" value="{{add.address}}, {{add.city}}, {{add.state}}, {{add.zipcode}}, {{add.country}}">
                        <label class="form-check-label" for="{{add.id}}">
                          {{add.address}}, {{add.city}}
                        </label>
                    </div>
                    {% endfor %}
                    <div class="my-2 d-grid">
                        <p class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Address</p>
                    </div>
                </div>
                </div>

                <input id="form-button" class="btn btn-success btn-block mt-3" type="submit" value="continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment">Make Payment</button>
        </div>

    </div>

    <div class="col-md-7">
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:1"></div>
                <div style="flex:3"><strong>Item</strong></div>
                <div style="flex:2" class="text-center"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:1"><img class="row-image" src="{{item.product.ImageUrl}}"></div>
                <div style="flex:3"><p>{{item.product.name}}</p></div>
                <div style="flex:2">
                    <p class="text-center">x {{item.quantity}}</p>
                </div>
                <div style="flex:1"><p>&#8377 {{item.get_total}}</p></div>
            </div>
            {% endfor %}
            <div class="text-center my-3">Total Payable : <strong style="color: green;">&#8377 {{order.get_cart_total|floatformat:2}}</strong></div>
        </div>
    </div>
</div>

{% include 'store/addressformModal.html' %}

<script>
    const current_user = '{{request.user}}';
    const shipping = '{{order.shipping}}';
    const cart_total = '{{order.get_cart_total}}'

    if(shipping === 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    if (current_user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }

    const form = document.getElementById('form')
    form.addEventListener('submit', function (e) {
        e.preventDefault()
        // console.log('shipping address submitted...')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    const submitFormData = () => {
        console.log('PAYMENT BUTTON CLICKED')
        const selected = document.querySelector('input[type=radio][name=userAddress]:checked');
        const user_selected_address = selected.value.split(',')

        const userFormData = {
            'total':cart_total
        }
        const shippingInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
            'country':null
        }
        if(shipping !== 'False'){
            shippingInfo.address = user_selected_address[0]
            shippingInfo.city = user_selected_address[1]
            shippingInfo.state = user_selected_address[2]
            shippingInfo.zipcode = user_selected_address[3]
            shippingInfo.country = user_selected_address[4]
        }

        const url = '/process_order/'
        fetch(url, {
            method : 'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})

        })
        .then((response)=>response.json())
        .then((data)=>{
            alert('Transaction Complete')
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + "; domain=;path=/"
            window.location.href = "{% url 'store' %}"
        })


    }
    document.getElementById('make-payment').addEventListener('click', function (e) {
        submitFormData()
    })

</script>
{%endblock body%}