<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <title>The Gadgets Zone | home</title>
</head>

<body>
  {% include 'store/navbar.html' %}
  <div class="container mb-5">
    {%block body%}


    {%endblock body%}
  </div>

  <footer class="footer bg-dark py-2 mt-auto fixed-bottom">
    <div class="container">
        <span class="text-muted"">&copy; The Gadgets Zone</span>
    </div>
</footer>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
    integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
    integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/cart.js' %}"></script>
  <script src="{% static 'js/formValidation.js' %}"></script>
  <script>
    const user = '{{request.user}}'

    function getCookies(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }


    const csrftoken = getCookies('csrftoken');
    let cart = JSON.parse(getCookies('cart'))
    if (cart == undefined) {
      cart = {}
      // console.log('cart created')
      document.cookie = 'cart=' + JSON.stringify(cart) + "; domain=;path=/"
    }
    // console.log(cart)

  </script>

</body>

</html>