{% extends 'store/layout.html' %}
{% load static %}

{%block body%}

{% if products|length < 1 %}
<div class="card text-center mt-5">
    <div class="card-body">
      <h5 class="card-title">No result for "<b>{{query}}</b>"</h5>
      <p class="card-text">Try checking your spelling or use more general term.</p>
      <a href="{% url 'store' %}" class="btn btn-outline-primary">Continue Shopping</a>
    </div>
</div>
{% else %}
<h4 class="text-center mt-3">Showing result for <b>"{{query}}"</b></h4>
<div class="row">
    {% for product in products %}
    <div class="col-md-3 my-4">
        <div class="card" style="width: 18rem;">
            <img src="{{product.ImageUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <div class="d-flex flex-column">
                    <h4 style="font-size: 15px; color: green;"><strong>Price: &#8377;
                            {{product.discountPrice|floatformat:2}}</strong></h4>
                    <h4 style="font-size: 15px; color: #383838;"><del>M.R.P.: &#8377;
                            {{product.price|floatformat:2}}</del></h4>

                    <h4 style="font-size: 15px;"><strong>Discount: {{product.rate}}% </strong><span
                            style="color: #b32e1c;">(save &#8377; {{product.savePrice}})</span></h4>
                </div>
                <div class="my-2">
                    <button data-product="{{product.id}}" data-action="add"
                        class="btn btn-outline-warning add-btn update-cart">
                        Add to Cart
                    </button>
                    <a class="btn btn-outline-primary" href="{% url 'viewProducts' product.id %}">View</a>
                </div>
            </div>

        </div>
    </div>
    {%endfor%}
</div>
{% endif %}


{%endblock body%}