{% extends 'store/layout.html' %}
{% load static %}

{%block body%}
<link rel="stylesheet" href="{% static 'css/star.css' %}">
<div class="row my-5">
    <div class="col-md-6">
        <div class="card card-body">
            <img src="{{product.ImageUrl}}" class="card-img-top" alt="...">
            <h5 class="card-title mb-3">{{product.name}}</h5>
            <div class="d-flex flex-column mb-3">
                <h4 style="font-size: 15px; color: green;"><strong>Price: &#8377;
                        {{product.discountPrice|floatformat:2}}</strong></h4>
                <h4 style="font-size: 15px; color: #383838;"><del>M.R.P.: &#8377;
                        {{product.price|floatformat:2}}</del></h4>

                <h4 style="font-size: 15px;"><strong>Discount: {{product.rate}}% </strong><span
                        style="color: #b32e1c;">(save &#8377; {{product.savePrice}})</span></h4>
                <p class="card-text">Delivery expected : <strong> {{date}}</strong></p>
            </div>
            <p class="card-text mt-3 text-muted">Description :-</p>
            <p class="card-text mb-3" style="font-weight: 400;">{{product.description}}</p>

            <div class="row mt-3 mx-0 px-0">
                {% if request.user.username == 'admin' %}
                <div class="col-md-4 d-grid px-1">
                    <a href="{% url 'edit_product' product.id%}" class="btn btn-primary">Edit</a>
                </div>
                <div class="col-md-4 d-grid px-1">
                    <a href="{% url 'remove_product' product.id%}" class="btn btn-danger">Delete</a>
                </div>
                <div class="col-md-4 d-grid px-1">
                    <a data-product="{{product.id}}" data-action="add" class="btn btn-warning add-btn update-cart">Add to Cart</a>
                </div>
                {% else %}
                <div class="d-grid"><a data-product="{{product.id}}" data-action="add" class="btn btn-warning add-btn update-cart">Add to Cart</a></div>
                {% endif %}
            </div>
        </div>
    </div>



    <div class="col-md-6">
        <div class="card card-body">
            <h4 class="card-title">Rate Product</h4>
            <form action="reviewProduct/" method="Post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <fieldset class="starability-grow">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                            aria-label="No rating.">
                        {% for i in range %}
                        <input type="radio" id="first-rate{{i}}" name="rating" value="{{i}}">
                        <label for="first-rate{{i}}" title="Terrible">{{i}} star</label>
                        {% endfor %}
                    </fieldset>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="body">Write Review - <span class="text-mutes">share your thaughts
                            with other user</span></label>
                    <textarea class="form-control" type="text" name="body" id="body" required></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="card my-3">
            <div class="card-body">
                {% for review in reviews %}
                <p class="starability-result" data-rating={{review.rating}}>
                    Rated: {{review.rating}} stars
                </p>
                <h6 class="card-subtitle mb-2 text-muted">by {{review.customer.name}} at {{review.timeDate}}
                </h6>
                <p class="card-text">
                    Review : {{review.body}}
                </p>
                {% if request.user and request.user.customer ==  review.customer %}
                <form method="POST" action="/viewProducts/{{product.id}}/delete_review/{{review.id}}/" class="mb-3">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                {% endif %}
                <hr>
                {% endfor %}

            </div>
        </div>

    </div>
</div>

{%endblock body%}