{% extends 'authentication/basic.html' %}
{% load static %}
{% block body %}

<div class="row my-5">
  <div class="col-sm-6 offset-sm-3">
    <div class="card shadow" style="max-width: 500px;">
      <div class="card-body">
        <div class="cart-title"><h4 class="text-center">Login</h4></div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show my-0" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <form action="" method="post" class="p-3 needs-validation" novalidate>
          {% csrf_token %}
          <!-- <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
          </div> -->
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
          </div>
          <div class="my-3">
            <small><a href="#">Forgot Password ?</a></small>
          </div>
          <div class="mb-3 d-grid">
            <button class="btn btn-success" type="submit">Login</button>
          </div>

          <div class="text-center fw-bold mt-3"><small>New to The Gadgets Zone ?</small></div>
          <div class="mb-2 text-center"><a href="{% url 'signup' %}" style="color: blue;">Create your Gadgets Zone account</a></div>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock body %}