{% extends 'authentication/basic.html' %}
{% load static %}
{% block body %}


<div class="row my-5">
  <div class="col-sm-6 offset-sm-3">
    <div class="card shadow" style="max-width: 500px;">
      <div class="card-body">
        <div class="cart-title">
          <h4 class="text-center">Registration</h4>
        </div>
        <form action="" method="POST" class="needs-validation" novalidate class="p-3">
          {% csrf_token %}

          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            {{form.errors}}
          </div>
          {% endif %}

          <!--Name-->
          <div class="form-floating mb-3">
            {{form.username}}
            <label for="name">Username</label>
          </div>

          <!--Email-->
          <div class="form-floating mb-3">
            {{form.email}}
            <label for="email">Email address</label>
          </div>

          <!--Password-->
          <div class="form-floating mb-3">
            {{form.password1}}
            <label for="password">Password</label>
          </div>

          <!--c Password-->
          <div class="form-floating mb-4">
            {{form.password2}}
            <label for="conf_password">Confirm Password</label>
          </div>

          <div class="mb-3 d-grid">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
          <div class="text-center text-center fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
                class="text-primary">Login Now</a> </small></div>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
  let form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder='username';
  form_fields[2].placeholder='name@gmail.com';
  form_fields[3].placeholder='Password';
  form_fields[4].placeholder='Re-enter Password';

  for(let field in form_fields){
    form_fields[field].className += 'form-control';
  }
  document.getElementById("id_email").required = true
</script>
{% endblock body %}