{% extends 'store/layout.html' %}
{% load static %}


{%block body%}
<div class="row mt-3">
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3 color-1">
                <div class="card-header">
                    <h5 class="card-title statusSize">Total Order</h5>
                </div>
                <div class="card-body my-3">
                    <h3 class="card-title statusSize">{{total_order}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3 color-2">
                <div class="card-header">
                    <h5 class="card-title statusSize">Order Delivered</h5>
                </div>
                <div class="card-body my-3">
                    <h3 class="card-title statusSize">{{delivered}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3 color-2">
                <div class="card-header">
                    <h5 class="card-title statusSize">Shipped Order</h5>
                </div>
                <div class="card-body my-3">
                    <h3 class="card-title statusSize">{{shipping}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3 color-3">
                <div class="card-header">
                    <h5 class="card-title statusSize">Accepted Order</h5>
                </div>
                <div class="card-body my-3">
                    <h3 class="card-title statusSize">{{accepted}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3 color-1">
                <div class="card-header">
                    <h5 class="card-title statusSize">Order Pending</h5>
                </div>
                <div class="card-body my-3">
                    <h3 class="card-title statusSize">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>

</div>

{% if chart %}
<div class="d-flex align-item-center justify-content-center my-3">
    <img src="data:image:png;base64, {{chart|safe}}">
</div>
{% endif %}
{% if tchart %}
<div class="d-flex align-item-center justify-content-center my-3">
    <img src="data:image:png;base64, {{tchart|safe}}">
</div>
{% endif %}
<div class="row my-3">
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3 color-1">
                <div class="card-header">
                    <h5 class="card-title statusSize">Total Payment</h5>
                </div>
                <div class="card-body my-3">
                    <h3 class="card-title statusSize"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3 color-2">
                <div class="card-header">
                    <h5 class="card-title statusSize">Profit</h5>
                </div>
                <div class="card-body my-3">
                    <h3 class="card-title statusSize"></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-5">
        <h4>Customers</h4>
        <div class="card card-body">
            <table class="table table-striped">
                <tr>
                    <th>Customer</th>
                    <th>Email</th>
                </tr>
                {% for customer in customers %}
                <tr>
                    <td>{{customer.name}}</td>
                    <td>{{customer.email}}</td>
                {% endfor %}
            </table>
            <a href="{% url 'allCustomers' %}" class="btn btn-primary btn-sm d-grid">
                View all Customer
            </a>
        </div>
    </div>

    <div class="col-md-7">
        <h4>Last 5 Orders</h4>
        <div class="card card-body">
            <table class="table table-striped">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                </tr>
                {% for orderItem in orderItems %}
                <tr>
                    <td>{{orderItem.product.category}}</td>
                    <td>{{orderItem.order.date}}</td>
                    <td>{{orderItem.status}}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'allOrder' %}" class="btn btn-primary btn-sm btn-block">
                View all Orders
            </a>
        </div>
    </div>
</div>


{%endblock body %}